@import "./utilidades";

.header{

    &--secciones{
        position: relative;
        height: 9rem;
        overflow-x: hidden;
        background-color: $bgLigth;
        font-family: 'Cinzel', serif;
        box-shadow: 2px 2px 2px $borde-sombraGris;
        overflow: hidden;
    }

    &__nav__desk__link{
        color: $bgDark;
        font-weight: bold;
    }
    
    &__nav__div{
        height: 100%;
    }
    
    &__logo{
        position: absolute;
        width: 6rem;
        top: 25%;
        right: 10%;
        text-decoration: none;
        color: $bgDark;
        font-size: 3rem;
        text-shadow: $sombraTextoWhite;
    }
}

@media screen and (min-width: 1024px){

    .header{

        &__nav__desk__link{
            text-shadow: $sombraTextoWhite;
        }
        
        &__nav__div{
            height: auto;
        }
    
        &__nav__desk__list{
            list-style: none;
        }
    
        &__nav__mobile{
            display: none;
        }
    
        &__logo{
            left: 10%;
        }

        &__nav__desk{
            @include superCentro;
            height: 10rem;
        }
    
        &__logo:hover{
            color: $bgDark;
            animation: rotar 0.4s ease-in-out;
        }

        &__nav__desk__item--seccion--home{
            @include superCentro;
            background-color: $bgDark;
            width: 8rem;
            height: 2.5rem;
            border-radius: 25px;
            transition: 0.2s ease;

            &:hover{
                transform: scale(1.15);
            }
        }
        &__nav__desk__link{

            &:hover{
                color: $bgDark;
            }

            &--home{
                color: $colorBlanco;
    
                &:hover{
                    color: $colorBlanco;
                }
            }
        }

        &__nav__desk__item--seccion::before{
            background-color: $bgDark;
        }
    
    }
}