@import "./variables";
@import "./utilidades";

.header{
    position: relative;
    height: 100vh;  
    font-family: $fontMenu;  
    
    &__nav__div{
        text-shadow: $sombraTexto;
    }
    
    &__video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        z-index: -1;
    }
    
    &__content{
        @include superCentro;

        position: absolute;
        top: 30%;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        color: $colorBlanco;
        text-shadow: $sombraTexto;
        z-index: 2;
        
    }
    
    &__titulo{
        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 3rem;
    }
    
    &__p{
        font-size: 2rem;
        border-top: 1px solid $colorBlanco;
        width: 50%;
    }
    
    &__logo--index{
        position: absolute;
        width: 7rem;
        height: 5rem;
        bottom: 5.5%;
        left: 5%;
        text-decoration: none;
        font-size: 3.1rem;
        color: $colorBlanco;
        text-shadow: $sombraTexto;
    }
    
    &__flecha{
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 2rem;
        height: 2rem;
        border-bottom: solid $colorBlanco 5px;
        border-right: solid $colorBlanco 5px;
        transform: rotate(45deg);
        animation: salta 1.5s infinite ease-in-out;
        z-index: 2;
    }
}

@media  screen and (min-width: 320px) {

    .header__content{
        margin-top: 15%;
    }      
}

@media screen and (min-width: 1024px){

    .header{

        &__content{
            top: 25%;
        }
    
        &__nav__div{
            height: auto;
        }
    
        &__nav__desk__list{
            list-style: none;
            font-family: $fontMenu;
        }
    
        &__nav__mobile{
            display: none;
        }
    
        &__logo{
            right: 3%;
        }
    
        &__nav__desk__item,  &__nav__desk__item--seccion{
            position: relative;
            margin: 1.5rem;
        }
    
        &__nav__desk{
            @include superCentro;
            height: 10rem;
        }
        
        &__nav__desk__item::before, &__nav__desk__item--seccion::before{
            position: absolute;
            bottom: 0;
            left: 50%;
            content: "";
            display: block;
            width: 0%;
            height: 2px;
            background-color: $colorBlanco;
            transition: all 0.2s;
        }
    
        &__nav__desk__item:hover::before, &__nav__desk__item--seccion:hover::before{
            left: 0;
            width: 100%;
        }
    
        &__logo--index:hover{
            color: $bgDark;
            animation: rotar 0.4s ease-in-out;
        }   
    }
}
