$colorBlanco: #fff;
$sombraTexto: 2px 2px black;
$sombraTextoWhite: 2px 2px rgba(206, 204, 204, 0.822);
$fontMenu: 'Cinzel', serif;
$borde-sombraGris: rgb(62, 62, 65);
$bgDark: rgb(43, 43, 51);
$bgLigth: #f7f7f7;
$textResaltado: rgb(150, 93, 18);