* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.4rem;
  background-color: rgba(245, 171, 86, 0.664);
}

body::-webkit-scrollbar-thumb {
  background: #aa8963;
  border-radius: 0.7rem;
}

@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes salta {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

@keyframes salta {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

.header {
  position: relative;
  height: 100vh;
  font-family: "Cinzel", serif;
}

.header__nav__div {
  text-shadow: 2px 2px black;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 10rem;
  color: #fff;
  text-shadow: 2px 2px black;
  z-index: 2;
}

.header__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  font-size: 3rem;
}

.header__p {
  font-size: 2rem;
  border-top: 1px solid #fff;
  width: 50%;
}

.header__logo--index {
  position: absolute;
  width: 7rem;
  height: 5rem;
  bottom: 5.5%;
  left: 5%;
  text-decoration: none;
  font-size: 3.1rem;
  color: #fff;
  text-shadow: 2px 2px black;
}

.header__flecha {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  border-bottom: solid #fff 5px;
  border-right: solid #fff 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: salta 1.5s infinite ease-in-out;
          animation: salta 1.5s infinite ease-in-out;
  z-index: 2;
}

@media screen and (min-width: 320px) {
  .header__content {
    margin-top: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .header__content {
    top: 25%;
  }
  .header__nav__div {
    height: auto;
  }
  .header__nav__desk__list {
    list-style: none;
    font-family: "Cinzel", serif;
  }
  .header__nav__mobile {
    display: none;
  }
  .header__logo {
    right: 3%;
  }
  .header__nav__desk__item, .header__nav__desk__item--seccion {
    position: relative;
    margin: 1.5rem;
  }
  .header__nav__desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10rem;
  }
  .header__nav__desk__item::before, .header__nav__desk__item--seccion::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .header__nav__desk__item:hover::before, .header__nav__desk__item--seccion:hover::before {
    left: 0;
    width: 100%;
  }
  .header__logo--index:hover {
    color: #2b2b33;
    -webkit-animation: rotar 0.4s ease-in-out;
            animation: rotar 0.4s ease-in-out;
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes salta {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

body {
  background-color: #2b2b33;
}

.main {
  min-height: calc(100vh - 18rem);
  color: #fff;
  overflow-x: hidden;
}

.main__tituloTrabajos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  margin-bottom: 3rem;
}

.main__trabajos__varios, .main__trabajos__armarios, .main__trabajos__cocinas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9rem;
  border: solid 1px #3e3e41;
  -webkit-box-shadow: 2px 2px 2px #3e3e41;
          box-shadow: 2px 2px 2px #3e3e41;
  border-radius: 5px;
  margin-top: 1rem;
}

.main__trabajos__varios {
  background-image: url(../media/varios.jpeg);
  background-size: cover;
  background-position-y: 60%;
}

.main__trabajos__armarios {
  background-image: url(../media/armarios.jpeg);
  background-size: cover;
  background-position-y: 55%;
}

.main__trabajos__cocinas {
  background-image: url(../media/cocinas.jpeg);
  background-size: cover;
  background-position-y: 73%;
}

.main__trabajos__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  text-shadow: 2px 2px black;
  width: 10rem;
  height: 4rem;
}

.main__trabajos__link:hover {
  color: #fff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main__historia--index {
  height: 40rem;
  margin-top: 5rem;
}

.main__historia--index__span {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #965d12;
}

.main__historia--index__span:hover {
  text-decoration: underline;
  color: #965d12;
}

.main__card__texto {
  height: 90%;
  overflow: scroll;
}

.main__card__texto::-webkit-scrollbar {
  width: 0.35rem;
}

.main__card__texto::-webkit-scrollbar-thumb {
  background: #c9a276;
  border-radius: 0.7rem;
}

.main__equipo--index {
  height: auto;
}

.main__equipo__img {
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 2px solid #3e3e41;
          box-shadow: 2px solid #3e3e41;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}

.main__equipo__img:hover {
  border: 7px solid #fff;
}

.main__equipo__div--index {
  margin: 6rem 0rem;
}

@media screen and (min-width: 320px) {
  .main__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer--index {
  height: 30rem;
  padding: 2rem;
  background-image: url(../media/madera.jpeg);
  background-size: cover;
  background-position-y: 35%;
  font-size: 1.34rem;
}

.footer--index .footer--index__datos {
  margin-top: 3rem;
  color: #fff;
  text-shadow: 2px 2px black;
}

@media screen and (min-width: 320px) {
  .footer--index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes salta {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

.header--secciones {
  position: relative;
  height: 9rem;
  overflow-x: hidden;
  background-color: #f7f7f7;
  font-family: 'Cinzel', serif;
  -webkit-box-shadow: 2px 2px 2px #3e3e41;
          box-shadow: 2px 2px 2px #3e3e41;
  overflow: hidden;
}

.header__nav__desk__link {
  color: #2b2b33;
  font-weight: bold;
}

.header__nav__div {
  height: 100%;
}

.header__logo {
  position: absolute;
  width: 6rem;
  top: 25%;
  right: 10%;
  text-decoration: none;
  color: #2b2b33;
  font-size: 3rem;
  text-shadow: 2px 2px rgba(206, 204, 204, 0.822);
}

@media screen and (min-width: 1024px) {
  .header__nav__desk__link {
    text-shadow: 2px 2px rgba(206, 204, 204, 0.822);
  }
  .header__nav__div {
    height: auto;
  }
  .header__nav__desk__list {
    list-style: none;
  }
  .header__nav__mobile {
    display: none;
  }
  .header__logo {
    left: 10%;
  }
  .header__nav__desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10rem;
  }
  .header__logo:hover {
    color: #2b2b33;
    -webkit-animation: rotar 0.4s ease-in-out;
            animation: rotar 0.4s ease-in-out;
  }
  .header__nav__desk__item--seccion--home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2b2b33;
    width: 8rem;
    height: 2.5rem;
    border-radius: 25px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .header__nav__desk__item--seccion--home:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .header__nav__desk__link:hover {
    color: #2b2b33;
  }
  .header__nav__desk__link--home {
    color: #fff;
  }
  .header__nav__desk__link--home:hover {
    color: #fff;
  }
  .header__nav__desk__item--seccion::before {
    background-color: #2b2b33;
  }
}

.footer {
  height: 13rem;
  background-color: #f7f7f7;
  -webkit-box-shadow: 5px 5px 5px 5px #3e3e41;
          box-shadow: 5px 5px 5px 5px #3e3e41;
}

.footer__info {
  color: #2b2b33;
  text-shadow: 2px 2px rgba(206, 204, 204, 0.822);
}

@media screen and (min-width: 1024px) {
  .footer {
    height: 11rem;
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes salta {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

.main--secciones {
  min-height: calc(100vh - 22rem);
  background: #d1d0d0;
  background: -webkit-gradient(linear, left top, right top, from(#d1d0d0), color-stop(50%, white), to(#d1d0d0));
  background: linear-gradient(90deg, #d1d0d0 0%, white 50%, #d1d0d0 100%);
}

.main__trabajos__titulo {
  background-color: #2b2b33;
  color: #fff;
  border-radius: 10px;
}

.main__trabajos__irA {
  width: 10rem;
  height: 3rem;
  margin-bottom: 3rem;
  background-color: #2b2b33;
  border-radius: 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main__trabajos__irA:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #fff;
}

.main__trabajos__irA__link {
  text-decoration: none;
  color: #fff;
}

.main__trabajos__irA__link:hover {
  color: #fff;
}

.main__equipo {
  min-height: 40rem;
}

.main__equipo__tarjeta {
  min-height: 33rem;
}

.main__slider {
  width: 90%;
  height: 70%;
  overflow: hidden;
}

.main__contacto__form {
  width: 95%;
}

.main__historia {
  height: auto;
  padding: 5rem;
}

.main__historia__titulo {
  background-color: #2b2b33;
  color: #fff;
  border-radius: 15px;
}

.main__historia__fam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__historia__fam__img {
  max-width: 90%;
  border-radius: 10%;
  background-color: #2b2b33;
  border: solid #2b2b33 5px;
}

@media screen and (min-width: 320px) {
  .main__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__contacto__form {
    width: 130%;
  }
}

@media screen and (min-width: 425px) {
  .main__historia__fam {
    max-width: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .main--secciones {
    min-height: calc(100vh - 20rem);
  }
  .main__slider {
    width: 75%;
  }
  .main__contacto__form {
    width: 60%;
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes salta {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

.body--galeria {
  background: #d1d0d0;
  background: -webkit-gradient(linear, left top, right top, from(#d1d0d0), color-stop(50%, white), to(#d1d0d0));
  background: linear-gradient(90deg, #d1d0d0 0%, white 50%, #d1d0d0 100%);
}

.header__galeria {
  height: 12rem;
}

.header__galeria__titulo {
  font-family: "Cinzel", serif;
  text-shadow: 2px 2px rgba(206, 204, 204, 0.822);
}

.header__galeria__nav {
  border-bottom: 1px solid #aaaaaa;
}

.header__galeria__list {
  list-style: none;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.header__galeria__item, .header__galeria__item--home {
  height: 2.3rem;
  width: 7rem;
  border: 2px solid #2b2b33;
  border-radius: 25px;
  background-color: #fff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 0px 3px 0px #3e3e41;
          box-shadow: 0px 0px 3px 0px #3e3e41;
}

.header__galeria__item:hover {
  background-color: #2b2b33;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__galeria__item--home {
  background-color: #2b2b33;
}

.header__galeria__item--home:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__galeria__link {
  color: #2b2b33;
}

.header__galeria__link:hover {
  color: #fff;
}

.header__galeria__link--home {
  color: #fff;
}

.header__galeria__link--home:hover {
  color: #fff;
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes salta {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

.main__galeria {
  min-height: calc(100vh - 22rem);
}

.main__galeria__contenedor {
  width: 100%;
  margin-top: 5rem;
}

.main__galeria__img {
  margin: 0.3rem;
  max-width: 270px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px 2px #3e3e41;
          box-shadow: 1px 1px 3px 2px #3e3e41;
  outline: 0px solid #2b2b33;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.main__galeria__img:hover {
  outline: 7px solid #2b2b33;
  outline-offset: -7px;
}

.lightBox {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.lightBox:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.lightBox__img {
  width: 90vw;
}

.cerrar {
  display: block;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 3rem;
  top: 20%;
  right: auto;
  left: auto;
  background-color: #2b2b33;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
}

.cerrar:hover {
  color: #fff;
}

.flecha, .flecha-izq {
  display: block;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 20%;
  bottom: 25%;
  font-size: 2.5rem;
  color: #fff;
  background-color: #2b2b33;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-weight: bolder;
  text-decoration: none;
}

.flecha:hover, .flecha-izq:hover {
  color: #fff;
}

.flecha-izq {
  left: 20%;
}

.flecha-izq:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .cerrar {
    top: 10%;
  }
  .flecha, .flecha-izq {
    bottom: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .lightBox__img {
    width: 60vw;
  }
  .flecha, .flecha-izq {
    bottom: 50%;
    right: 10%;
  }
  .flecha-izq {
    left: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .lightBox__img {
    width: 40vw;
  }
  .flecha {
    right: 20%;
  }
  .flecha-izq {
    left: 20%;
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes salta {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

.footer__galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.footer__galeria__p {
  font-size: 0.8rem;
  font-weight: bolder;
}
/*# sourceMappingURL=main.css.map */